@use "sass:math";
//========================================================================================================================================================
//REM
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}
//EM
@function em($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}
//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Rubik";
$fontSize: 12;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1152px;
$maxWidthContainer: 1080px;
$pc: $maxWidthContainer + 12px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.9px;

$mainColor: #ec5863;
$blueColor: #4285f4;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "_null.scss";

body {
	&._lock {
		overflow: hidden;
	}
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

[class*="__container"] {
	max-width: $maxWidthContainer;
	margin: 0px auto;
	padding: 0px 15px;
}

._btn {
	display: inline-block;
	font-family: Raleway;
	font-weight: 800;
	font-size: 10px;
	line-height: math.div(12, 10);
	letter-spacing: 0.14em;
	text-transform: uppercase;
	color: #fcfdfe;
	background-color: $mainColor;
	padding: 14px 30px;
	border-radius: 5px;
	transition: all 0.3s ease 0s;
	&_blue {
		background-color: $blueColor;
		@media (any-hover: hover) {
			&:hover {
				background-color: #91b3eb;
			}
		}
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//========================================================================================================================================================
.header {
	position: fixed;
	width: 100%;
	z-index: 50;
	// .header__container
	&__container {
		min-height: 86px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .header__logo
	&__logo {
		margin: 0px 20px 0px 0px;

		@media (max-width: 400px) {
			width: 40px;
			overflow: hidden;
		}
	}
	// .header__menu
	&__menu {
		flex: 1 1 auto;
		z-index: -1;
	}
	// .header__action
	&__action {
		flex: 0 0 252px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@media (max-width: $tablet) {
			flex: 0 0 200px;
		}
	}
	// .header__action-btn
	&__action-btn {
	}
	// .header__icon
	&__icon {
	}
}

.menu {
	position: relative;
	@media (max-width: $mobile) {
		&:before {
			content: "";
			position: fixed;
			width: 100%;
			height: 80px;
			left: 0;
			top: 0;
			background-color: #fff;
			z-index: 2;
		}
	}

	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			background-color: #fff;
			padding: 100px 0px 0px 0px;
			overflow: auto;
			transition: left 0.3s ease 0s;
			&._active {
				left: 0;
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		justify-content: flex-end;
		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: center;
		}
	}
	// .menu__item
	&__item {
		margin: 0px 40px 0px 0px;
		@media (max-width: $tablet) {
			margin: 0px 30px 0px 0px;
		}
		@media (max-width: $mobile) {
			margin-right: 0;
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}
	// .menu__link
	&__link {
		font-family: Raleway;
		font-weight: 700;
		font-size: rem(10);
		line-height: 1.2em;
		letter-spacing: 0.14em;
		color: #000;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $mainColor;
			}
		}
		@media (max-width: $mobile) {
			font-size: rem(15);
		}
	}
}
.icon-menu {
	display: none;
	margin: 0px 0px 0px 20px;
	position: relative;
	width: 30px;
	height: 20px;
	&::before,
	&::after {
		content: "";
	}
	span,
	&::before,
	&::after {
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		background-color: #000;
	}
	span {
		top: 50%;
		transform: translateY(-1px);
	}
	&::after {
		top: 0;
	}
	&::before {
		bottom: 0;
	}
	@media (max-width: $mobile) {
		display: block;
	}
}
//========================================================================================================================================================
.page {
	flex: 1 1 auto;
}
.footer {
}
